@import "../../../styles/variables/media-queries";
@import "../../../styles/variables/font-weights";

:global(.dark-theme) {
    .content {
        :global(.subtitle-small) {
            color: rgb(var(--primary-white));
        }
    }
}

.introductionSlide {
    display: flex;
    align-items: center;

    .content {
        position: relative;
        width: 100%;
    }

    .textContainer {
        @media #{$min-width-lg} {
            max-width: 50vw;
        }
    }

    :global(.title-medium) {
        margin-bottom: 10px;

        &::before {
            content: "";
            display: block;
            width: 50px;
            height: 4px;
            margin: 50px 0 15px;
            background-color: rgb(var(--primary-white));
        }
    }

    :global(.subtitle-small) {
        color: rgb(var(--primary-black));
        font-weight: font-weight(semi-bold);
    }

    .companyLogo {
        margin-top: 50px;

        @media #{$min-width-lg} {
            position: absolute;
            right: 0;
            bottom: 0;
            margin-top: 0;
        }
    }
}
