@import "../../../styles/variables/media-queries";

:global(.dark-theme) {
    .element {
        :global(.subtitle) {
            color: rgb(var(--primary-black));
            background-color: rgb(var(--primary-white));
        }

        .icon {
            &::after {
                mix-blend-mode: multiply;
            }

            img {
                filter: brightness(100%) invert(1);
            }
        }
    }
}

.content {
    width: 100%;

    @media #{$min-width-xxl} {
        width: 80%;
        margin: 0 auto;
    }
}

.elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    grid-gap: 100px;

    @media #{$max-width-xl} {
        grid-gap: 50px;
    }

    @media #{$max-width-md} {
        grid-template-columns: 1fr;
    }
}

.element {
    .icon {
        position: relative;
        text-align: center;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(var(--primary-orange));
            mix-blend-mode: lighten;
        }
    }

    :global(.subtitle) {
        color: rgb(var(--primary-white));
        background-color: rgb(var(--primary-black));
        padding: 25px;
        margin: 35px auto;
        text-align: center;

        + div {
            font-size: 16px;
            line-height: 1.5;
        }
    }
}
