@import "../../styles/variables/font-weights";
@import "../../styles/shared/mixins";

.navigation {
    display: flex;
    align-items: center;
    max-width: 90vw;
    overflow-x: auto;
    @include custom-scrollbar(
        rgb(var(--primary-black)),
        rgb(var(--primary-orange))
    );

    button {
        background-color: transparent;
        border: none;
        white-space: nowrap;
        padding: 15px;
        font-weight: font-weight(bold);
        transition: color ease 250ms;
        text-transform: uppercase;

        &:focus {
            outline: none;
        }

        &:not(:disabled) {
            cursor: pointer;

            &.current,
            &:hover {
                color: rgb(var(--primary-orange));

                svg path {
                    fill: rgb(var(--primary-orange));
                }
            }
        }

        &:disabled {
            cursor: default;

            svg path {
                fill: rgb(var(--secondary-light-gray));
            }
        }

        svg {
            display: block;
            height: 12px;

            path {
                transition: fill ease 250ms;
            }
        }
    }
}
