@import "../../styles/variables/media-queries";

$slide-animation-offset: 150px;

:global(.dark-theme) {
    .slide {
        background-color: rgb(var(--primary-black));
    }
}

.slide {
    --vertical-padding: 50px;

    width: 100%;
    height: var(--full-vh);
    padding: var(--vertical-padding) 5%;
    background-image: var(--slide-bg-pattern);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    transform: translateX(calc(#{$slide-animation-offset} * var(--animation-direction)));
    animation: slide-enter ease-out forwards 500ms;

    @media #{$max-width-lg} {
        --vertical-padding: 75px;
    }

    @media #{$max-width-sm} {
        --vertical-padding: 100px;
    }
}

@keyframes slide-enter {
    from {
        opacity: 0;
        transform: translateX(calc(#{$slide-animation-offset} * var(--animation-direction)));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
