:global(.dark-theme) {
    .slide {
        background-color: rgb(var(--primary-black));
    }
}

.slide {
    width: 100%;
    height: var(--fullVH);
    padding: 50px 5%;
    background-image: var(--slide-bg-pattern);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: auto;
    overflow-x: hidden;
}
