@import "../../styles/variables/media-queries";
@import "../../styles/variables/font-weights";

$slide-animation-offset: 150px;

:global(.dark-theme) {
    .slide {
        background-color: rgb(var(--primary-black));
    }
}

.slide {
    --horizontal-padding: 5%;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: var(--full-vh, 100vh);
    max-height: var(--full-vh, 100vh);
    padding: 100px var(--horizontal-padding);
    background-image: var(--slide-bg-pattern);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(var(--primary-white));
    overflow-y: auto;
    overflow-x: hidden;
    animation: slide-enter ease-out forwards 500ms;

    display: flex;
    align-items: var(--slide-alignment);

    @media #{$max-width-md} {
        --horizontal-padding: 25px;
    }
}

.breadcrumbs {
    position: fixed;
    top: 0;
    left: var(--horizontal-padding);
    padding-top: 20px;
    font-size: 14px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 35px;
        height: 4px;
        background-color: rgb(var(--primary-orange));
    }

    $span-separation: 10px;

    &,
    .chapter::before {
        color: rgb(var(--secondary-medium-gray));
    }

    span {
        &:first-child,
        &.chapter {
            font-weight: font-weight(semi-bold);
        }

        + span {
            margin-left: $span-separation;
        }
    }

    .chapter {
        color: rgb(var(--primary-orange));
    }

    .title {
        + .chapter {
            &::before {
                content: " - ";
                display: inline-block;
                margin-right: $span-separation;
            }
        }
    }
}

@keyframes slide-enter {
    from {
        opacity: 0;
        transform: translateX(calc(#{$slide-animation-offset} * var(--animation-direction)));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
