@import "../../../styles/variables/font-weights";

.errorSlide {
    justify-content: center;
    background-color: rgb(var(--primary-black));

    h3 {
        font-weight: font-weight(thin);
        color: rgb(var(--primary-orange));
    }
}
