@import "@app/styles/variables/font-weights";

.languageSelector {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        border: none;
        padding: 15px;
        font-weight: font-weight(bold);
        background-color: transparent;
        text-transform: uppercase;
        transition: color ease 250ms;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &.current,
        &:hover {
            color: rgb(var(--primary-orange));
        }
    }
}
