:root {
    // Common
    --fullVH: calc(var(--vh, 1vh) * 100);

    // Theme variables
    --primary-color: #fff;
    --primary-color-darker: #f9f9f9;
    --primary-color-contrast: #222;

    --secondary-color: #222;
    --secondary-color-contrast: #fff;

    --accent-color: #df744a;
    --accent-color-contrast: #fff;

    --danger-color: #ff0000;

    --light-gray: #c9c9c9;
    --medium-gray: #999;
    --dark-gray: #444;
}
