@import "../../../styles/variables/media-queries";
@import "../../../styles/variables/font-weights";
@import "../../../styles/shared/mixins";

$detail-content-blur: blur(10px);

:global(.dark-theme) {
    .locationDetail {
        .detailContent {
            @supports not (backdrop-filter: $detail-content-blur) {
                background-color: rgba(var(--primary-dark-gray));
            }

            @supports (backdrop-filter: $detail-content-blur) {
                background-color: rgba(var(--primary-dark-gray), 0.25);
                backdrop-filter: $detail-content-blur;
            }

            @include custom-scrollbar(
                5px,
                rgb(var(--primary-dark-gray)),
                rgb(var(--primary-orange))
            );

            h3 {
                color: rgb(var(--primary-white));
            }
        }
    }
}

.mapSlide {
    padding: 0;
    overflow: hidden;

    :global(.mapboxgl-canvas-container) {
        height: 100vh;
    }
}

.map {
    // This offset hides the watermarks on the bottom of the screen
    // DEMO PURPOSE ONLY - DON'T DO THIS
    $offset: 50px;

    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw + #{$offset});
    height: calc(var(--full-vh) + #{$offset});
}

.locations {
    position: absolute;
    top: 50%;
    left: 0;
    min-width: 250px;
    transform: translateY(-50%);

    @media #{$max-width-lg} {
        min-width: 175px;
    }

    button {
        position: relative;
        display: block;
        width: 100%;
        height: 100px;
        padding: 10px;
        border: none;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgb(var(--primary-black));
        border-radius: 0 10px 10px 0;
        transform: translateX(-75%);
        transition: transform ease 250ms, opacity ease 250ms;
        box-shadow: 0 3px 6px rgba(#000, 0.15), 0 3px 6px rgba(#000, 0.2);
        text-align: left;
        cursor: pointer;

        @media #{$max-width-lg} {
            height: 60px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(90deg, rgba(#000, 0.5), transparent);
            opacity: 0;
            transition: opacity ease 250ms;
        }

        &:not(.current) {
            opacity: 0.5;
        }

        &.current,
        &:hover {
            transform: translateX(0);
            opacity: 1;

            &::after {
                opacity: 1;
            }
        }

        + button {
            margin-top: 15px;
        }

        span {
            position: relative;
            font-size: 25px;
            font-weight: font-weight(black);
            color: #fff;
            text-transform: uppercase;
            z-index: 1;

            @media #{$max-width-lg} {
                font-size: 18px;
            }
        }
    }
}

.locationDetail {
    $border-radius: 10px;

    max-width: 400px;
    height: 550px;
    border-radius: $border-radius;
    text-align: right;
    overflow: hidden;

    @media #{$max-width-md} {
        max-width: 85vw;
        height: 70vh;
    }

    &,
    .detailHeader {
        box-shadow: 0 3px 6px rgba(#000, 0.15), 0 3px 6px rgba(#000, 0.2);
    }

    .detailHeader {
        position: relative;
        height: 35%;
        border-radius: $border-radius $border-radius 0 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgb(var(--primary-black));
        z-index: 1;

        @media #{$max-width-md} {
            height: 30%;
        }
    }

    .detailContent {
        height: 65%;
        padding: 20px;
        overflow-y: auto;
        border-radius: 0 0 $border-radius $border-radius;
        @include custom-scrollbar(5px, rgb(var(--primary-white)), rgb(var(--primary-orange)));

        @supports not (backdrop-filter: $detail-content-blur) {
            background-color: rgba(var(--primary-white));
        }

        @supports (backdrop-filter: $detail-content-blur) {
            background-color: rgba(var(--primary-white), 0.25);
            backdrop-filter: $detail-content-blur;
        }

        @media #{$max-width-md} {
            height: 70%;
        }

        h3 {
            color: rgb(var(--primary-dark-gray));
            margin-bottom: 10px;
        }

        :global(.body-text-small) {
            font-size: 16px;
        }
    }
}
